[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
seaborn = "*"
matplotlib = "*"
# statsmodels = {git = "https://github.com/statsmodels/statsmodels"}
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
